<!--<p>Hoang: </p>-->
<!--<br>-->
<%#= @session %>
<!--<br>-->
<%#= @session[:payment_status] %>
<%#= @session[:payment_intent] %>
<%#= @session[:display_items][0][:custom][:name] %>
<!--<br><br>-->
<%#= debug @session %>
<!--<br>------<br>-->
<%#= debug @payment_intent %>

<!--<p>Is paid: <%#= @is_paid %></p>-->
<!--<p>order_id: <%#= @order_id %></p>-->
<!--<p>id_payment_intent: <%#= @id_payment_intent %></p>-->