<div class="content">
  <h1>Your orders</h1>
  <% @orders.each do |order| %>
    <%= render 'order', order: order %>
    <%= link_to "View details", order_path(order), class: 'button is-warning is-fullwidth'  %>
  <% end %>
</div>