We can find <%= @products.count %> products with the filter "<%= @filter %>"
<%= render 'paginate', products: @products %>
<div class="columns is-multiline">

  <% @products.each do |product| %>
    <%= render 'product', product: product %>
  <% end %>
</div>