<div class="column">
  <%= form_with(url: filter_product_index_path, method: :get, local: true) do |f| %>
    <div class="select">
      <select name="filter">
        <option id="0">Filter products</option>
        <option id="1">On sale</option>
        <option id="2">New</option>
      </select>
    </div>
    <%= submit_tag "Filter", class: "button is-primary" %>
  <% end %>
</div>