<div class="column">
  <%= form_with(url: search_product_index_path, method: :get, local: true) do |f| %>
    <div class="field is-grouped">
      <div class="control is-expanded">
        <%= text_field_tag(:keywords, nil, class: "input", placeholder: "Search for products") %>
      </div>
      <div class="select mr-3">
        <%= f.collection_select :category, Category.all, :id, :name, prompt: true %>
      </div>
      <div class="control">
        <%= submit_tag("Search", class: "button is-primary") %>
      </div>
    </div>
  <% end %>
</div>